    body {
        background-color: black;
    }
    h1 {
        color: blue;
        text-align: center;
    }
    .one {
        color: white;
        font-size: 18px;
        line-height: 1.2;
    }
    .two {
        color: yellow;
        font-size: 20px;
        line-height: 1.2;
    }
    .three {
        color: lightgreen;
        font-size: 22px;
        line-height: 1.2;
    }
    .four {
        color: pink;
        font-size: 24px;
        line-height: 1.2;
    }

