body{
    margin: 0%;
}
#box1{
    width: 250px;
    height: 250px;
    border: 5px solid;
    font-size: 13em;
    text-align: center;
    background-color: aqua;
    transform: translate(50px, 50px);/*this moves the element 50px to the right and 50px down */
    transform:rotateX(45deg);/*this rotates the element around the X-axis by 45 degrees */
    transform: scaleX(1.5);/*this scales the element along the X-axis by 1.5 times */
    transform: skewX(30deg);/*this skews the element along the X-axis by 30 degrees */
}